div.ext-link {
  padding-left: 19px;
}
a.ext-link {
  background-size: 13px 13px;
  background-color: #fff;
  background-repeat: no-repeat;
  padding: 0 1em 0 1em;
  font-size: 13px;
}
ul.menu {
  font-size: 13px;
  color: #666;
  padding: 2px;
  display: inline;
  list-style: none;
}
ul li.menu {
  line-height: 20px;
  display: inline-block;
  position: relative;
}
ul li ul {
  width: 185px;
  z-index: 5;
}
ul li ul.submenu {
  display: none;
  visibility: hidden;
  position: absolute;
  padding: 0;
  background-color: #fff;
  border: 1px solid rgba(100,100,100,0.4);
  border-radius: 3px !important;
}
ul li ul.submenu .tbutton {
  float: none;
}
ul li ul li.submenu {
  list-style: none;
  display: block;
}
ul li ul li a {
  margin: 6px 3px 6px 3px !important;
}
ul li:hover ul.submenu {
  display: block;
  visibility: visible;
}
